* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper-container {
  position: absolute;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.swiper-container_inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 160%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  pointer-events: none;
  transition: 0s ease-in;
}

.swiper-container_inner__item {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: bisque;
  padding: 20px;
  color: white;
  font-size: 3vw;
  letter-spacing: 0.04em;
}

.background-img-1 {
  background-image: url("https://images.ctfassets.net/kpep6ikljkgq/27YT5QuedYMW0dMjNesV6g/acf1e8bf2cd2cccd911278e25b26119f/PregnancyYoga4.jpg?w=1200&h=1800&q=50&fm=webp");
}

.swiper-container_item__header {
  position: absolute;
  bottom: 4vh;
  left: 4vw;
}
